[submodule "common/include/boost"]
	path = common/include/boost
	url = https://github.com/Atmosphere-NX/ext-boost.git
[submodule "test/lakebed"]
	path = test/lakebed
	url = https://github.com/misson20000/lakebed.git
